.slider1, .slider2{
	margin: 5px;
}
.conteiner{
	width: 720px;
	height: 210px;
}
.coll{
	float: left;
}
.navi{
	width: 25%;
	height: 210px;
}
.navi a{
	display: block;
	background: orange;
	border: 1px solid red;
	height: 25%;
	text-decoration: none;
	position: relative;
	box-sizing:border-box;
}
.navi .active, .navi .hoverS{
	background: red;
}
.gallery{
	width: 75%;
	box-sizing:border-box;
	overflow: hidden;
	border: 1px solid blue;
	height: 210px;
}
.holder{
	width: 4000px;
}
img{
	max-width: 540px;
	height: 210px;
	float: left;
}
.triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 25px;
	border-color: transparent transparent transparent red;
	position: absolute;
	right: -25px;
	z-index: 10;
}