.container{
	width: 316px;
	height: 333px;
	background: url(../src/img/comp_plate_graybasic.png) no-repeat; 
    background-size: 317px 333px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	box-sizing:border-box;
	padding:3px;
	line-height:1.11;
	/*position: absolute;*/
}
.not-active{
	display: none;
}
.productView{
	height: 260px;
	overflow: hidden;
}
.productView p,.naviView a{
	font-size: 10px;
}
.productView p{
	margin:5px 0;
}
.bodyInfo p+p{
	color:lightgray;
}
.headerInfo,.naviView{
	padding: 5px 5px 0 5px;
}
.bodyInfo{
	padding: 0 5px;
}
.headerInfo{
	margin: 0;
	font-size: 20px;
}
.detail{
	max-height:100%;
	padding-bottom: 10px;
}
.headerInfo, .show_detail,.btn_store{
	color: orange;
}
.btn_left, .btn_right,.btn_store{
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 12px;
	font-weight: bold;
}
.btn_left, .btn_right{
	color: grey;
}
.btn_ic_left, .btn_ic_right, .text_left, .text_right{
	position: absolute;
}
.btn_store{
	float: right;
}
.btn_ic_left{
	top: 8px;
	left: 5px;
}
.btn_ic_right{
	top: 8px;
	right: 5px;
}
.text_left{
	top: 6px;
	right: 10px;
}
.text_right{
	top: 6px;
	left: 10px;
}
.btn_right.selected,.btn_left.selected,.btn_store.selected{
	color: white;
}
.button_bg.selected{
	display: none;
}