.switcher {
  margin-top: 50px;
  text-align: center;
}
.switcher__button {
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  margin: 0 50px;
  padding: 20px;
  font-size: 22px;
  background: tomato;
  color: white;
}
.display {
  font-size: 35px;  
  text-align: center; 
  margin-top: 30px;
  color: white;
  background: Wheat;
  padding: 50px;
  min-width: 100%:
}
.note{
  border-radius: 4px;
  background: white;
  color: SkyBlue;
  width: 70%;
  max-width: 270px;
  font-size: 18px;
}
.note div{
  max-height: 40px;
  overflow: hidden;
}
.weekday {
  cursor: pointer;
  border-radius: 4px;
  background: SkyBlue;
  color: white;
  padding: 15px;
  font-size: 18px; 
  margin: 10px;
}
.weekday--current {
  margin-top: -4px;
  padding: 19px;
  background: SlateBlue;
}